In [27]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [28]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [29]:
# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [112]:
# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name"])

In [115]:
school_data_complete.tail()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [116]:
school_data_complete.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [117]:
#Calculate the total number of schools
total_schools = school_data_complete["School ID"].count()
print(total_schools)

39170

In [118]:
#Calculate the total number of students
total_students = school_data_complete["size"].sum()
print(total_students)

130551930

In [99]:
#Calculate the total budget
total_budget = school_data_complete['budget'].sum()

In [111]:
print(total_schools, total_budget, total_students)

39170 82932329558 130551930

In [100]:
#Calculate the average math score
avgmathscore = school_data_complete['math_score'].mean()

In [101]:
#Calculate the average reading score
avgreadingscore = school_data_complete['reading_score'].mean()

In [102]:
#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
overallpassrate = (avgmathscore + avgreadingscore)/2

In [103]:
#Calculate the percentage of students with a passing math score (70 or greater)
passingmath = school_data_complete.query('math_score >70')["School ID"].count()/ total_students*100

In [104]:
#Calculate the percentage of students with a passing reading score (70 or greater)
passingreading = school_data_complete.query('reading_score >70')["School ID"].count()/ total_students*100

In [107]:
#Create a dataframe to hold the above results
School_summary_df = pd.DataFrame({"Total Schools":[total_schools],
                                   "Total Amount of Students":[total_students],
                                   "Total Budget":[total_budget],
                                   "Math Average %":[avgmathscore],
                                   "Reading Average%":[avgreadingscore],
                                   "Passing Math %":[passingmath],
                                   "Passing Reading %":[passingreading],
                                   "Overall Passing Rate %":[overallpassrate]
})

In [108]:
School_summary_df.head()

,Total Schools,Total Amount of Students,Total Budget,Math Average %,Reading Average%,Passing Math %,Passing Reading %,Overall Passing Rate %
0,39170,130551930,82932329558,78.985371,81.87784,0.02172,0.024894,80.431606

In [ ]:
#Optional: give the displayed data cleaner formatting